* {
    box-sizing: border-box;
    margin: 0;
}
.home {
    color: white;
    background-color: #4682B4;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: white;
    background-color: #4682B4;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    padding-top: 20px;
}
.ButtonsBox {
    width: 100%;
    margin: 0;
    background-color: #87CEFA;
    font-size: 2em;
    color: white;
    text-align: center;
}
.ButtonsBox2 {
    width: 100%;
    margin: 0;
    background-color:  #B0C4DE;
    font-size: 2em;
    color: white;
    text-align: center;
    clear: both;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    float: right;
}

.birthdayWish {
    margin: 0;
    padding-top: 16px;
    background-color: LightBlue;
    height: 1050px;

}

.mainImage {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: powderblue;
}

#wish {
    margin-top: 20%;
    color: navy;
    text-align: center;
    height: 100%;
    text-align: center;
    padding: 20px;
}
.row div{
    cursor:pointer;
    display:block;
}
.row div:hover{
    background-color: darkblue;
}

.tabcontent {
    display: none;
}

#Nouran {
    background-color: lightblue;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    padding-top: 20px;
}
#w2 {
    color: navy;
}